<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="From a dream to a chubby baby - It's all about Savänna">
    <meta name="author" content="Clark Weckmann">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/public/css/bulma/bulma.min.css">
    <link rel="icon" href="/favicon.png">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="/public/js/main.js"></script>
</head>

<body>
    <div class="">

        {% include nav.html %}

        {{content}}

        {% include footer.html %}
    </div>
</body>

</html>